//colors

$white: #fff;
$black: #000;
$black_40: rgba(0, 0, 0, 0.4);
$black_10: rgba(0, 0, 0, 0.1);

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  * {
    box-sizing: border-box;
    backface-visibility: hidden;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: $color_celeste_approx;
    &:hover {
      color: $white;
    }
  }
  ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 2px;
    width: 40px;
    height: 80px;
    font-weight: 700;
    line-height: 80px;
    border-radius: 0;
    background: transparent;
    padding: 0;
    li {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 97%;
      text-decoration: none !important;
      &:first-child {
        z-index: 2;
      }
      a {
        display: block;
        height: 100%;
        perspective: 200px;
        margin: 0 !important;
        overflow: visible !important;
        cursor: default !important;
        border-radius: 0;
        div {
          z-index: 1;
          position: absolute;
          left: 0;
          width: 100%;
          height: 50%;
          font-size: 80px;
          overflow: hidden;
          outline: 1px solid transparent;
          .shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
          &.up {
            transform-origin: 50% 100%;
            top: 0;
            div.inn {
              top: 0;
            }
          }
          &.down {
            transform-origin: 50% 0;
            bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            div.inn {
              bottom: 0;
            }
          }
          div.inn {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 200%;
            color: #5a5d63;
            background-color: transparent;
            border-radius: 0;
            font-size: 60px;
            line-height: 80px
          }
        }
      }
      &.flip-clock-active {
        z-index: 3;
      }
    }
    &.play li {
      &.flip-clock-before {
        z-index: 3;
        .up {
          z-index: 2;
          animation: turn2 0.5s linear both;
          .shadow {
            background: linear, top, $black_10 0, $black 100%;
            background: linear, to bottom, $black_10 0, $black 100%;
            animation: show 0.5s linear both;
          }
        }
        .down .shadow {
          background: linear, top, $black 0, $black_10 100%;
          background: linear, to bottom, $black 0, $black_10 100%;
          animation: show 0.5s linear both;
        }
      }
      &.flip-clock-active {
        animation: asd 0.5s 0.5s linear both;
        z-index: 5;
        .down {
          z-index: 2;
          animation: turn 0.5s 0.5s linear both;
          .shadow {
            background: linear, top, $black 0, $black_10 100%;
            background: linear, to bottom, $black 0, $black_10 100%;
            animation: hide 0.5s 0.2s linear both;
          }
        }
        .up .shadow {
          background: linear, top, $black_10 0, $black 100%;
          background: linear, to bottom, $black_10 0, $black 100%;
          animation: hide 0.5s 0.3s linear both;
        }
      }
    }
  }
  &.clearfix {
    *zoom: 1;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 100px;
  &:first-child {
    width: 0;
  }
  .flip-clock-label {
    position: absolute;
    bottom: -2px;
    right: -86px;
    color: $black;
    text-shadow: none;
    font-size: 17px;
  }
  &.minutes .flip-clock-label {
    right: -88px;
  }
  &.seconds .flip-clock-label {
    right: -91px;
  }
}

.flip-clock-dot {
  display: block;
  background: transparent;
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 50%;
  left: 5px;
  &.top {
    top: 25px;
  }
  &.bottom {
    top: 45px;
  }
}

@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@-moz-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@-o-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}

@-webkit-keyframes turn {
  0% {
  }
  100% {
  }
}

@-moz-keyframes turn {
  0% {
  }
  100% {
  }
}

@-o-keyframes turn {
  0% {
  }
  100% {
  }
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }
  100% {

    transform: rotateX(0deg);
  }
}

@-webkit-keyframes turn2 {
  0% {
  }
  100% {
  }
}

@-moz-keyframes turn2 {
  0% {
  }
  100% {
  }
}

@-o-keyframes turn2 {
  0% {
  }
  100% {
  }
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hours .flip-clock-label {
  right: -82px;
}

.flip-clock-wrapper {
  display: block;
  @media screen and (max-width: 400px) {
    margin: 0;
    .flip-clock-divider {
      width: 11px;
      left: -3px;
      &.hours {
        display: none;
      }

    }
  }
}

.flip {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  position: relative;
  .inn {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 38px;
      height: 1px;
      width: 40px;
      background: #9d9d9d url("../img/flip/flip-clock-line.png")
    }
    background-size: cover;
    background-position: center;
  }
}

.flip:nth-of-type(1)::before,
.flip:nth-of-type(3)::before,
.flip:nth-of-type(5)::before,
.flip:nth-of-type(7)::before {
  content: '';
  width: 80px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: url("../img/flip/flip-bg.png");
}

.flip-clock-divider {
  &.minutes {
    .flip-clock-label {
      right: -70px;
    }
  }
  &.hours {
    .flip-clock-label {
      right: -66px;
    }
  }
  &.seconds {
    .flip-clock-label {
      right: -71px;
    }
  }
}

.clock-wrapper {
  min-width: 280px;
}

.flip-clock-wrapper {
  font-size: 0;
  margin: 0 auto;
  width: 280px;
  .flip:nth-of-type(odd) {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: right;
    .up {
      background: url("../img/flip/flip-top-left.png") no-repeat;
    }
    .down {
      background: url("../img/flip/flip-bottom-left.png") no-repeat;
    }
  }
  .flip:nth-of-type(even) {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-align: left;
    .up {
      background: url("../img/flip/flip-top-right.png") no-repeat;
    }
    .down {
      background: url("../img/flip/flip-bottom-right.png") no-repeat;
    }
  }

}
